<footer class="site-footer">
  <div class="container">
    <p>© {{ site.time | date: "%Y" }} SMME. All rights reserved.</p>

    <div class="footer-socials">
      <a href="mailto:engineer@smme.tech"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://instagram.com/smmebooking07" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://facebook.com/profile.php?id=61576580751224" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://wa.me/27826391818" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</footer>
