<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMME</title>
	<link rel="stylesheet" href="/css/main.css"
</head>
<body>
   <h1>
   	The life of an engineering student
   </h1>
   <p>"We only wake in the morning"</p>
   <p>"So we can study"</p>
   <p>"Wake up in the night"</p>
   <p>"So we can study"</p>
   <p>"Even wake up in the day"</p>
   <p>"So we can study"</p>
   <p>"Stay UP all day"</p>
   <p>"So we can study (YEEEAAAAHHH!!!)"</p>
   <p>**Guitars banging and Every Engineer relates so they start to cry**</p>
   <p>OHHHHHHHHHHHHHHHHHH!!!!!!</p>
   <p>BUT!!!</p>
   <p>YOU'RE WHO YOU ARE</p>
   <p>YOU'RE WHO YOU ARE</p>
   <p>YOU'RE WHO YOU ARE</p>
   <p>YOU'RE WHO YOU ARE</p>
   <p>OHHHHHHHHHHHHHHHHHH!!!!!!</p>
   <p>WE'RE WHO YOU ARE</p>
   <p>WE'RE WHO YOU ARE</p>
   <p>WE'RE WHO YOU ARE</p>
   <p>WE'RE WHO YOU ARE</p>
</body>
</html>
